.avatar {
  width: 130px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
  margin-top: 50px;
}

.header h3 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: lighter;
  color: rgb(200, 200, 200);
  letter-spacing: 1px;
  margin-top: 10px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: lighter;
  color: rgb(200, 200, 200);
  margin-top: 20px;
  letter-spacing: 2px;
  margin-bottom: 0px;
}

.contact p {
  font-family: 'Montserrat', sans-serif;
  color: #4f4a4a;
  font-size: 12px;
  margin-left: 15px;
  font-weight: bold;
  width: 400px;
  letter-spacing: 0.5px;
}

.summary p {
  line-height: 2.5;
  margin-right: 15px;
  font-family: 'Montserrat', sans-serif;
  color: #4f4a4a;
  font-size: 12px;
  color: rgb(150, 150, 150);
}

.profile {
  margin-top: 50px;
  background-color: rgb(250, 250, 250);
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
}

.languages {
  margin-top: 40px;
  margin-bottom: 20px;
}

.languages h3 {
  font-family: 'Montserrat', sans-serif;
  margin-left: 15px;
  font-weight: bold;
  color: #4f4a4a;
  letter-spacing: 0.5px;
}

.languages p {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  margin-left: 15px;
  color: rgb(150, 150, 150);
  letter-spacing: 0.5px;
}

.container {
  display: flex;
}

.competences {
  padding-right: 36px;
  border-right: 5px solid rgb(250, 250, 250);
}

.technical_skills {
  margin-top: 40px;
}

.technical_skills h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #4f4a4a;
  letter-spacing: 0.5px;
  margin-left: 15px;
}

.technical_skills p {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  color: rgb(150, 150, 150);
  letter-spacing: 0.5px;
  margin-left: 15px;
}

.work {
  padding-left: 43px;
  margin-top: 40px;
}

.work h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #4f4a4a;
  letter-spacing: 0.5px;
  margin-bottom: 26px;
}

.work p {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  color: rgb(150, 150, 150);
  letter-spacing: 0.5px;
}

.tribe {
  line-height: 0.5;
  margin-bottom: 25px;
}

.jwt {
  line-height: 0.5;
  margin-bottom: 25px;
}

.interests {
  margin-top: 40px;
}

.interests h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #4f4a4a;
  letter-spacing: 0.5px;
  margin-left: 15px;
}

.interests p {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  color: rgb(150, 150, 150);
  letter-spacing: 0.5px;
  margin-left: 15px;
}

.hobby1 {
  display: flex;
  padding-bottom: 30px;
  padding-top: 20px;
}

.hobby1 div {
  margin-right: 10px;
}

.hobby2 {
  display: flex;
}

.hobby2 div {
  margin-right: 10px;
}

.fa-brain:before {
  color: rgb(240,240,240);
  font-size: 30px;
  margin-left: 39px;
}

.fa-palette:before {
  font-size: 30px;
  margin-left: 59px;
  color: rgb(240,240,240);
}

.fa-code-branch:before {
  font-size: 30px;
  margin-left: 32px;
  color: rgb(240,240,240);
}

/*.fa-hands-helping:before {
  color: rgb(240,240,240);
  font-size: 30px;
  margin-left: 48px;
}*/

.fa-hat-wizard:before {
  color: rgb(240,240,240);
  font-size: 30px;
  margin-left: 41px;
}

.fa-globe-americas:before {
  color: rgb(240,240,240);
  font-size: 31px;
  margin-left: 55px;
}

.fa-skiing:before {
  color: rgb(240,240,240);
  font-size: 30px;
  margin-left: 56px;
}

.psy {
  padding-left: 3px;
}

.travel {
  padding-left: 23px;
}

.ski {
  padding-left: 36px;
}

.education {
  padding-left: 43px;
  margin-top: 40px;
}

.education h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #4f4a4a;
  letter-spacing: 0.5px;
  margin-bottom: 26px;
}

.education p {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  color: rgb(150, 150, 150);
  letter-spacing: 0.5px;
}

.wagon {
  line-height: 0.5;
  margin-bottom: 25px;
}

.lse {
  line-height: 0.5;
  margin-bottom: 25px;
}

.rhul {
  line-height: 0.5;
  margin-bottom: 25px;
}

.ual {
  line-height: 0.5;
  margin-bottom: 25px;
}

.chateau {
  line-height: 0.5;
  margin-bottom: 25px;
}

.brown {
  line-height: 0.5;
  margin-bottom: 25px;
}

.fa-home:before {
  margin-right: 10px;
  font-size: 15px;
  color: rgb(200, 200, 200);
}

.fa-envelope:before {
  margin-right: 10px;
  font-size: 15px;
  color: rgb(200, 200, 200);
}

.fa-phone-square:before {
  margin-right: 10px;
  font-size: 17px;
  color: rgb(200, 200, 200);
}

.fa-linkedin:before {
  margin-right: 10px;
  font-size: 17px;
  color: rgb(200, 200, 200);
}

.fa-github-square:before {
  margin-right: 10px;
  font-size: 17px;
  color: rgb(200, 200, 200);
}
